@media (max-width: 430px) {
    .main-margin {
        margin-left: 0px;

    }

    .foto-creditoprendario {
        width: 400px;
    }

    .card-fotos {
        width: 400px;
    }

    .foto-postventa {
        width: 400px;
    }

    .padding-postventa {
        padding: 10px;
    }

    .logo-sobrenosotros {
        width: 200px;
    }

 }